extends ../layouts/default
block variables
  - var title = "Careers"
  - var page ="careers"
  - var lang = "jp"
block content
  main.
    <div class="about-us">
      <div class="about-us__header">
        <div class="head">
          <h1>Careers</h1>
          <div class="separator"></div>
        </div>
        <p>
          人生を豊かにするために働く
        </p>
        <a href="#" class="btn btn-secondary px-5 my-5">Coming Soon</a>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>好きな場所で働けるように</h2>
          </div>
          <div class="deck">
            <p>
              場所を選ばずに仕事ができるのはポケットルならではの醍醐味にしたいと考えています。故郷や好きな場所で働きながら都会並みの高い収入を得る、自分の大切な人を過ごす時間を大切にできる、自分のことも大事にできる環境づくりを目指しています。またどの従業員もモチベーションを常に高く維持しながら、仕事ができる仕組みづくりや評価軸を整えています。
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/workatfavoritelocation.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--right">
        <div class="checkerboard__text">
          <div class="head">
            <h2>グローバルな職場環境</h2>
          </div>
          <div class="deck">
            <p>
              創業してから半年ですが、すでにポケットルは国内だけでなく、海外からも支えてくれている仲間がいます。</p><br><p>
              また国内には多くの日本人の留学経験者がいますが、留学経験者のスキルを最大限に活かせる企業は国内には多くなく、また賃金においても何故か優遇されるケースは少ない状態です。
              ポケットルでは留学経験は優遇されるのはもちろんのこと、外国語や海外で培ったスキル・考え方を生かすチャンスは常にあります。
            </p>
            <br>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/globalworkplace.png" />
        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>派閥争いのない職場環境</h2>
          </div>
          <div class="deck">
            <p>
              ポケットルでは権力争いや派閥争いを好む方の入社はご遠慮していただいております。
              自分の好きな仕事に没頭し、仲間を尊敬し、大切にできる人のみを採用し、本当にいい仕事をしたい人たちの気持ちを守る環境づくりにコミットしています。
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/nofactionalism.png" />
        </div>
      </div><!--
      <div class="swiper-container carousel carousel--large">
        <!-- Additional required wrapper --><!--
        <div class="swiper-wrapper">
          <!-- Slides --><!--
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/images/Carousel_04@2x.jpg">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/images/comingsoon.jpg">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/images/Carousel_09@2x.jpg">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/images/Carousel_09@2x.jpg">
          </div>
          <div class="swiper-slide">
            <img class="img-fluid" src="assets/images/Carousel_09@2x.jpg">
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

      </div>
      <div class="about-us__diversity">
        <div class="about-us__subheader">
          <h2>Diversity</h2>
        </div>
        <div class="about-us__subdescription">
          ポケットルではスキルベースで採用を決定している為、そこに性別や年齢、人種、民族は関係ありません。それぞれが積極的にアイディアを出し合い、より良い「あんなものがあったらいいな」というポケットルの新商品や新しいサービスを生み出しています。
        </div>
        <div class="about-us__stats">
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="42" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">42%</text>
              </svg>
              <div class="stats-circle__title">全体</div>
              <div class="stats-circle__deck">女性</div>
            </div>
          </div>
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="58" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">58%</text>
              </svg>
              <div class="stats-circle__title">全体</div>
              <div class="stats-circle__deck">男性</div>
            </div>
          </div>
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="100" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">100%</text>
              </svg>
            </div>
            <div class="stats-circle__title">全体</div>
            <div class="stats-circle__deck">ダイバーシティ</div>
          </div>
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="47" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">47%</text>
              </svg>
              <div class="stats-circle__title">言語</div>
              <div class="stats-circle__deck">英語を母国語とする人</div>
            </div>
          </div>
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="53" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">53%</text>
              </svg>
              <div class="stats-circle__title">言語</div>
              <div class="stats-circle__deck">英語を母国語としない人</div>
            </div>
          </div>
          <div class="stats-circle__wrapper">
            <div class="stats-circle">
              <svg class="radial-progress" data-percentage="100" viewBox="0 0 80 80">
                <circle class="incomplete" stroke-linecap="round" cx="40" cy="40" r="35"></circle>
                <circle class="complete" stroke-linecap="round" cx="40" cy="40" r="35"
                  style="stroke-dashoffset: 39.5841px;"></circle>
                <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">100%</text>
              </svg>
              <div class="stats-circle__title">ポケットルの役員</div>
              <div class="stats-circle__deck">女性</div>
            </div>
          </div>

        </div>
      </div>
      <div class="checkerboard checkerboard--left">
        <div class="checkerboard__text">
          <div class="head">
            <h2>Our Benefits</h2>
          </div>
          <div class="deck">
            <p>
              現代のグローバルな職場がどうあるべきかの１つの例になりたいと考えています。それはポケットルに関わる全ての方に機械的ではなく、人間的に接し、その人と彼らの幸福に焦点を合わせることが重要だと考えています。従業員の生活のさまざまな側面やライフステージを理解してサポートし、個人的にも職業的にも成功できるような文化を育むことなのです。
            </p>
          </div>
        </div>
        <div class="checkerboard__image">
          <img class="img-fluid" src="assets/images/happyemployee.png" />
        </div>
      </div>
      <div class="about-us__benefits">
        <div class="about-us__benefit">
          <h3>EQUALITY</h3>
          <div>
            ポケットルは創業前から多くの人々に支えられて、この世に誕生しました。
            ポケットルに関わってくださる全ての方々の献身的なサポートに感謝するとともに、彼らが少しでも幸せになれるようにお手伝いする責任があると感じています。ポケットルでは高等機関で学んだり、ジムや習い事で体を動かしたり、趣味を持つことも推奨しています。
          </div>
        </div>
        <div class="about-us__benefit">
          <h3>LOYALTY</h3>
          <div>
            ポケットルを支援してくれるチームメンバーに感謝し、彼らが助けが必要になった時により最適なサポートができるよう、サポート体制の構築にコミットしています。彼らが職場で充実感と公平さを感じられるように、またいつまでも働きたいと思ってもらえるようリワードプログラムを準備しています。
          </div>
        </div>
        <div class="about-us__benefit">
          <h3>SUPPORT</h3>
          <div>
            私たちは、祝い事や困難な時期を問わず、生活のあらゆる面を通して従業員を支援します。ご家族や大事な人に何かあった際に安心して休暇をとったり、個人とその家族を最優先にして、自分のニーズに最適なことをできるようにサポートします。
          </div>
        </div>
      </div><!--
      <div class="about-us__employees">
        <div class="head about-us__subheader">
          <h2>Why We Work Here</h2>
        </div>

        <div class="swiper-container carousel carousel--large">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides --><!--
            <div class="swiper-slide">
              <div class="about-us__employee">
                <img src="assets/images/EmployeeCarousel_02_V2@2x.png">
                <div class="about-us__employee-name">Name</div>
                <div class="about-us__employee-department">Engineering</div>
                <div class="about-us__employee-time">Since 2019</div>
                <div class="deck about-us__employee-quote">"write here<br>write here<br>write here<br>write here<br>write here<br>write here.”
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-us__employee">
                <img src="assets/images/EmployeeCarousel_02_V2@2x.png">
                <div class="about-us__employee-name">Name</div>
                <div class="about-us__employee-department">Engineering</div>
                <div class="about-us__employee-time">Since 2019</div>
                <div class="deck about-us__employee-quote">"write here<br>write here<br>write here<br>write here<br>write here<br>write here.”
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-us__employee">
                <img src="assets/images/EmployeeCarousel_02_V2@2x.png">
                <div class="about-us__employee-name">Name</div>
                <div class="about-us__employee-department">Engineering</div>
                <div class="about-us__employee-time">Since 2019</div>
                <div class="deck about-us__employee-quote">"write here<br>write here<br>write here<br>write here<br>write here<br>write here.”
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-us__employee">
                <img src="assets/images/EmployeeCarousel_02_V2@2x.png">
                <div class="about-us__employee-name">John Doe</div>
                <div class="about-us__employee-department">Engineering</div>
                <div class="about-us__employee-time">Since 2019</div>
                <div class="deck about-us__employee-quote">“Work-life balance can be
                  challenging, but we<br>get creative and like everything else we do at<br>RTR, we make that work
                  also. I have a sense of<br>pride and ownership here that I’ve never had<br>working anywhere else. My
                  team is more than<br>my team, they are an extension of my family.”
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="about-us__employee">
                <img src="assets/images/EmployeeCarousel_02_V2@2x.png">
                <div class="about-us__employee-name">John Doe</div>
                <div class="about-us__employee-department">Engineering</div>
                <div class="about-us__employee-time">Since 2019</div>
                <div class="deck about-us__employee-quote">“Work-life balance can be
                  challenging, but we<br>get creative and like everything else we do at<br>RTR, we make that work
                  also. I have a sense of<br>pride and ownership here that I’ve never had<br>working anywhere else. My
                  team is more than<br>my team, they are an extension of my family.”
                </div>
              </div>
            </div>
          </div>-->
          <!-- If we need pagination --><!--
          <div class="swiper-pagination"></div>

          <!-- If we need navigation buttons --><!--
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>-->
      </div>
      <div class="about-us__join-now">
        <div class="about-us__join-cta">
          <div>ポケットルで働いてみたい！<br></div>
          <a class="btn" href="#">Coming Soon</a>
        </div>
        <div class="divider"></div>
        <div class="about-us__join-cta">
          <div>もっとポケットルの事が知りたい<br></div>
          <a class="btn" href="#">Coming Soon</a>
        </div>
      </div>
      <div class="about-us__alums">
        <div class="about-us__subheader">
          <h2>Partnerships</h2>
        </div>
        <div class="about-us__subdescription">
          ポケットルでは協業やコラボレーションをご希望される企業様も弊社をサポートしてくださる業者様も従業員同様大切な仲間だと考えております。ご提案がございましたら、お気軽に弊社までご連絡くださいませ。 
        </div>
        <div class="about-us__alums-logos">
          <a class="btn" href="partnership%40pocketle.co.jp">ポケットルにメールをする</a>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
